<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About:HEALTHTRACKER</title>

<style>
    #sec{
        background-color:rgb(0, 0, 0);
        color:white;
        text-align: center;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    h1{
        font-size:60px;
        color:rgb(236, 228, 221);
    }
    h3{
        font-size:27px;
        text-align: center;
        margin: 40px 40px;
        color:rgb(241, 214, 195);
    }
    h4{
        font-size:24px;
    }
</style>
</head>
<script>(function(w, d) { w.CollectId = "5fbf924d26be6347b188a6e7"; var h = d.head || d.getElementsByTagName("head")[0]; var s = d.createElement("script"); s.setAttribute("type", "text/javascript"); s.async=true; s.setAttribute("src", "https://collectcdn.com/launcher.js"); h.appendChild(s); })(window, document);</script>

<body>
    <section id = "sec">
    <h1>HEALTHTRACKER</h1>
    <div id = "mainl">
        <img src = "mainlogo.jpg">
    </div>
    <h3>
    <b>HEALTHTRACKER</b> is intentionally designed to help those peoples who are physically imperfect and want to 
    change their personality and development.
        HEALTHTRACKER calculates/predict data on the basis of arithmetic calculations that results in exact calculations.
        HEALTHTRACKER will never be paid for users in future.


    <p>HEALTHTRACKER provides you numerous of functions but main motive of this project is to help those peoples 
        who really want to change their physical personality. We can not give guarantee that you will reach your goal but we assure you that 
        you will achieve your goal but you have to work hard.
        HEALTHTRACKER can only provide direction to their users.   
    </p>
    <p>
        <h4>Developer/Designers</h4>
        <p>
            Ayush Khandelwal<br>
            Archit Agrawal
        </p>
    </p>
    </h3>
</section>
</body>
</html>